<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Ed Park">
    <meta name="keyword" content="Ed Park">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <title>{{ page.title }}</title>
    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
    <link href="/css/theme.css" rel="stylesheet" />
    <link href="/css/bootstrap-reset.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    
    <header class="header-frontend">
      <div class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="fa fa-bar"></span>
              <span class="fa fa-bar"></span>
              <span class="fa fa-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Ed <span>Park</span></a>
          </div>
          <!--
          <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li class="active"><a href="services.html">Service</a></li>
              <li class="dropdown ">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Feature <b class=" fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="typography.html">Typography</a></li>
                  <li><a href="button.html">Buttons</a></li>
                </ul>
              </li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="price.html">Price</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li class="dropdown language">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                  <img alt="" src="img/flags/us.png">
                  <span class="username">US</span>
                  <b class=" fa fa-angle-down"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#"><img alt="" src="img/flags/es.png"> Spanish</a></li>
                  <li><a href="#"><img alt="" src="img/flags/de.png"> German</a></li>
                  <li><a href="#"><img alt="" src="img/flags/ru.png"> Russian</a></li>
                  <li><a href="#"><img alt="" src="img/flags/fr.png"> French</a></li>
                </ul>
              </li>
              <li><input type="text" placeholder=" Search" class="form-control search"></li>
            </ul>
          </div>
          -->
        </div>
      </div>
    </header>

    {% if page.omit_breadcrumb == true %}

    {% else %}
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-sm-4">
            <h1>{{ page.title }}</h1>
          </div>
          <div class="col-lg-8 col-sm-8">
            <!--
            <ol class="breadcrumb pull-right">
              <li><a href="#">Home</a></li>
              <li><a href="#">Pages</a></li>
              <li class="active">Services</li>
            </ol>
            -->
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {{content}}

    <footer class="footer">
     <div class="container">
        <div class="row">
          <div class="col-lg-12">

          </div>
        </div
      </div>
    </footer>

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  </body>
</html>
